.container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-6);
  list-style: none;
  font-family: 'Arial Black';
  padding: 0;
  margin: 0;
}

.elementActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--pccs-b18);
  padding: var(--spacing-1);
  border-bottom: solid 3px;
  transition: opacity 0.2s;
}

.elementInactive {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-1);
  transition: opacity 0.2s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.iconActive {
  width: 5rem;
  height: 5rem;
  padding: var(--spacing-4);
  background-position: center;
  background-repeat: no-repeat;
}

.iconInactive {
  width: 5rem;
  height: 5rem;
  padding: var(--spacing-4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

@media (max-width: 24em) {
  .container {
    gap: var(--spacing-4);
  }

  .iconActive {
    width: 4rem;
    height: 4rem;
  }

  .iconInactive {
    width: 4rem;
    height: 4rem;
  }
}

@media (hover: hover) {
  .elementActive:hover {
    opacity: 0.5;
  }

  .elementInactive:hover {
    opacity: 0.5;
  }
}
